/* Set default font family and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  /* Set background color and padding for the container */
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Style the header */
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  /* Style the form */
  form {
    display: flex;
    align-items: center;
  }
  
  .form-group {
    margin-right: 10px;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    max-width: 300px;
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button[type="submit"] {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  /* Style the search history and current weather sections */
  .row {
    margin-top: 20px;
  }
  
  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .text-center {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .list-group {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .list-group-item {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .list-group-item:last-child {
    border-bottom: none;
  }
  
  .card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
  
  .card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 1.2rem;
  }
  
  /* Style the 5-day forecast section */
  #forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #forecast-title {
    margin-bottom: 20px;
  }
  
  .card-body {
    background-color: #007bff;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .card-body:last-child {
    margin-right: 0;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .card-img {
    width: 50px;
    margin-bottom: 10px;
  }
  
  .invisible {
    visibility: hidden;
  }
  